/* activity1 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 1px solid; */
}

header {
  height: 85vh;
  width: 100%;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  font-size: 1.4rem;
  color: #ffe65a;
  flex-basis: 55%;
}

.logo p {
  margin-left: 200px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.navigation {
  flex-basis: 35%;
}
.navigation ul {
  display: flex;
  gap: 2rem;
}

.navigation ul li {
  list-style-type: none;
  display: inline-block;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
}

.navigation ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffe65a;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.3s;
}

.navigation ul li a:hover::after {
  width: 100%;
}
.container-text {
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 250px;
  margin-left: 250px;
}

.container-text .btn {
  align-self: flex-start;
  padding: 13px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background: #ffe65a;
  font-weight: bold;
}

.container-text .btn:hover {
  box-shadow: 0 0 20px #fff;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3e38da;
  color: #fff;
}
/* -----------activity #2 ---------- */
/* global style */
.allBtn {
  padding: 10px;
  background: #ffe65a;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;
}

.hide-btn {
  display: none;
}

.d1-show {
  visibility: hidden;
}

.show-btn,
.hide-btn {
  align-self: center;
}

input {
  border: none;
  padding: 5px;
  border-radius: 2px;
}

h3 {
  color: #fff;
}
/* global style */

.main {
  width: 100%;
  height: auto;
  background: #3e38da;
}

.container {
  width: 100%;
  height: 500px;
}
.even {
  background: #5e59ee;
}

.odd {
  background: #3e38da;
}

.div {
  height: 100px;
  width: 100%;
  background: linear-gradient( #568ae9, #285fd6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* -------d1--------- */
.d-cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.d1-left {
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #fff;
}

.d1-left .problem {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
}
.d1-left .problem span {
  font-weight: bold;
  color: #ffe65a;
}
.d1-left .d1-append {
  align-self: center;
  color: #fff;
  text-decoration: underline;
}
.d1-left .d1-btn {
  align-self: center;
}

.d1-right {
  padding: 2%;
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.d1-show {
  display: flex;
  justify-content: center;
}

/* -------d2--------- */
